.more-icons__column {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
  position: relative;
}

.more-icons__column:first-child {
  position: relative;
}

.more-icons__icon {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more-icons__icon i {
  margin-bottom: 7px;
}
